{% extends 'todolist/base.html' %}

{% block title %} Category List {% endblock %}

{% block body_block %}
    <h1>Category List</h1>
    {% if category_list %}
        <ul>
            {% for category in category_list %}
                <li><a href="/todolist/categories/{{ category.id }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No categories created yet!</h3>
    {% endif %}
    <br/>
    <a href="/todolist/categories/create/">Add a New Category</a>
    <br/>
    <a href="/todolist/tasks/create/">Add a New Task</a>
{% endblock %}